<section class="content-header">
    <h1>
      Reports
     
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Reports</a></li>
      <li class="active" >Index</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
   <div id="msg"></div>
    <!-- Info boxes -->
    <div class="row">
    

                  <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Job Openings </label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-tasks"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Openings</strong> 
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get detail view of job openings analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-list"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Vacancies</strong>
                </span>
            </a>
            <span class="info-box-sm-description"><small>Job openings available vacancies and their hiring statistics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-list"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Opening Association</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Job openings association with recruiters</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->
                  
      
                  <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Applications </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-exchange"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Applications: Stages - Opening Wise</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get Applications  Job opening - Pipeline Stages wise analytics.</small></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-exchange"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Applications Disqualified Reasons</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get application disqualify reasons analytics.</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->

   

                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Interviews </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa fa-calendar-plus-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Interview Schedules</strong>
                  
              </span>
            </a>
            <span class="info-box-sm-description"><small>Get interview schedules &amp; analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa fa-calendar-check-o"></i></span>
          <div class="info-box-sm-content">
              <a href="#" >
                  <span class="info-box-sm-text">
                      <strong>Interview Feedback </strong>
                      
                  </span>
              </a>
            <span class="info-box-sm-description"><small>Get interview attendance, result, feedback and analytics</small></span>
          </div>
        </div>
      </div>
      
                  <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-file-text-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Offer Report</strong>
                </span>
            </a>
            <span class="info-box-sm-description"><small>Jobseekers Offered for job openings.</small></span>
          </div>
        </div>
      </div>
      
                  
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-user-plus"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Joining  Report</strong>
              </span>
          </a>
            <span class="info-box-sm-description"><small>Jobseeker Joining for job openings</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-user-times"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Back-out  Report</strong>
              </span>
            </a>
            <span class="info-box-sm-description"><small>Jobseeker back-out for job openings</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-pie-chart"></i></span>
          <div class="info-box-sm-content">
              <a href="#" >
                  <span class="info-box-sm-text">
                      <strong>Hiring Source</strong>
                      
                  </span>
              </a>
            <span class="info-box-sm-description"><small>Get Hiring Source analytics</small></span>
          </div>
        </div>
      </div>
      
                  <!-- Report Section ends -->
      
      
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Communications </label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-phone"></i></span>
          <div class="info-box-sm-content">
            <!--a href="/reports2/sms-message" -->
            <a href="#" >
            <span class="info-box-sm-text"><strong>Recruiter Call Logs </strong></span></a>
            <span class="info-box-sm-description"><small>Get Recruiters call logs and analytics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-mobile"></i></span>
          <div class="info-box-sm-content">
            <!--a href="/reports2/sms-message" -->
            <a href="#" >
            <span class="info-box-sm-text"><strong>SMS Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  SMS messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-whatsapp"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
            <span class="info-box-sm-text"><strong>WhatsApp Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  WhatsApp messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-envelope"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
            <span class="info-box-sm-text"><strong>Email Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  Email messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      <!-- Report Section ends -->
    

      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>Ats Status </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-sign-in"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Recruiter Login </strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter login details &amp; analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-unlock-alt"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Active Sessions </strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter active session details</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-key"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Key Performance Index</strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter KPI analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-chrome"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Installation </strong></span></a>
            <span class="info-box-sm-description"><small>Get RM Installation details.</small></span>
          </div>
        </div>
      </div>

     