<section class="content-header">
    <h1>
      Reports
     
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Reports</a></li>
      <li class="active" >Index</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
   <div id="msg"></div>
    <!-- Info boxes -->
    <div class="row">
    

                  <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Job Openings </label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-tasks"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Openings</strong> 
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get detail view of job openings analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-list"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Vacancies</strong>
                </span>
            </a>
            <span class="info-box-sm-description"><small>Job openings available vacancies and their hiring statistics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-list"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Job Opening Association</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Job openings association with recruiters</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->
                  
      
                  <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Applications </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-exchange"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Applications: Stages - Opening Wise</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get Applications  Job opening - Pipeline Stages wise analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-check-square-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Applications: Stages - Recruiter Wise</strong>
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get Applications  Recruiter - Pipeline Stages wise analytics.</small></span>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-envelope"></i></span>
          <div class="info-box-sm-content">
            <!--a href="/reports2/application-opening-process"  -->
            <a href="javascript:;"  >
                <span class="info-box-sm-text">
                    <strong>Applications: Process - Opening Wise</strong>
                   
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get Applications  Process - Job opening wise analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-check-square-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Application Pipeline</strong>
                    
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get application details and analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-reply-all"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Candidate Application Source</strong>
                    
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get application source analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-reply-all"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                    <strong>Application Flow</strong>
                    
                </span>
            </a>
            <span class="info-box-sm-description"><small>Get application flow analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa    fa-hand-stop-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text">
              <strong>Rejected Candidate Reason</strong>
            </span>
            </a>
            <span class="info-box-sm-description"><small>Get application disqualify reasons analytics.</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->

      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Approvals </label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa  fa-send-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                <strong>Internal Approval  Submission</strong>
              </span>
            </a>
            <span class="info-box-sm-description"><small>Get details about internal approval submission  &amp; its status</small></span>
          </div>
        </div>
      </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa  fa-check-square-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                <strong>Evaluate Internal Approvals</strong>
              </span>
            </a>
            <span class="info-box-sm-description"><small>About internal approval submission for you and  evaluation done for those.</small></span>
          </div>
        </div>
      </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-send"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Client Approval Submission</strong>
              </span>
            </a>
            <span class="info-box-sm-description"><small>Get  client approval submission details and approval feedback</small></span>
          </div>
        </div>
      </div>
                              <!-- Report Section ends -->

                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Interviews </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa fa-calendar-plus-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Interview Schedules</strong>
                  
              </span>
            </a>
            <span class="info-box-sm-description"><small>Get interview schedules &amp; analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa fa-calendar-check-o"></i></span>
          <div class="info-box-sm-content">
              <a href="#" >
                  <span class="info-box-sm-text">
                      <strong>Interview Feedback </strong>
                      
                  </span>
              </a>
            <span class="info-box-sm-description"><small>Get interview attendance, result, feedback and analytics</small></span>
          </div>
        </div>
      </div>
      
      <!-- Report Section ends -->
                  <!-- New Report Section -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Offers &amp; Hiring </label>
        </div>
      </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-file-text-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
                <span class="info-box-sm-text">
                  <strong>Offer Report</strong>
                </span>
            </a>
            <span class="info-box-sm-description"><small>Jobseekers Offered for job openings.</small></span>
          </div>
        </div>
      </div>
      
                  
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-user-plus"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Joining  Report</strong>
              </span>
          </a>
            <span class="info-box-sm-description"><small>Jobseeker Joining for job openings</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-user-times"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
              <span class="info-box-sm-text">
                  <strong>Back-out  Report</strong>
              </span>
            </a>
            <span class="info-box-sm-description"><small>Jobseeker back-out for job openings</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-pie-chart"></i></span>
          <div class="info-box-sm-content">
              <a href="#" >
                  <span class="info-box-sm-text">
                      <strong>Hiring Source</strong>
                      
                  </span>
              </a>
            <span class="info-box-sm-description"><small>Get Hiring Source analytics</small></span>
          </div>
        </div>
      </div>
      
                  <!-- Report Section ends -->
      
      
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Communications </label>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-phone"></i></span>
          <div class="info-box-sm-content">
            <!--a href="/reports2/sms-message" -->
            <a href="#" >
            <span class="info-box-sm-text"><strong>Recruiter Call Logs </strong></span></a>
            <span class="info-box-sm-description"><small>Get Recruiters call logs and analytics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-mobile"></i></span>
          <div class="info-box-sm-content">
            <!--a href="/reports2/sms-message" -->
            <a href="#" >
            <span class="info-box-sm-text"><strong>SMS Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  SMS messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-whatsapp"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
            <span class="info-box-sm-text"><strong>WhatsApp Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  WhatsApp messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-envelope"></i></span>
          <div class="info-box-sm-content">
            <a href="#" >
            <span class="info-box-sm-text"><strong>Email Messages </strong></span></a>
            <span class="info-box-sm-description"><small>Get  Email messages delivery and analytics</small></span>
          </div>
        </div>
      </div>
      <!-- Report Section ends -->
      
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Locks </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-lock"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Profile locks </strong></span></a>
            <span class="info-box-sm-description"><small>Get profile details those are locked</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-lock"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Application locks </strong></span></a>
            <span class="info-box-sm-description"><small>Get application details those are locked</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->


      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Recruiters </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-sign-in"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Recruiter Login </strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter login details &amp; analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-unlock-alt"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Active Sessions </strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter active session details</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-trophy"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Productivity</strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter productivity analytics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-key"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Key Performance Index</strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter KPI analytics</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-align-left"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Activity Log</strong></span></a>
            <span class="info-box-sm-description"><small>Get recruiter activity log details</small></span>
          </div>
        </div>
      </div>
      <!-- Report Section ends -->
      
                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Resume Manager </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-chrome"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Installation </strong></span></a>
            <span class="info-box-sm-description"><small>Get RM Installation details.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-sign-in"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Logins </strong></span></a>
            <span class="info-box-sm-description"><small>Get RM login details &amp; analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa    fa-share"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Session Sharing</strong></span></a>
            <span class="info-box-sm-description"><small>Get RM Session Sharing details</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-reply"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Session Imports</strong></span></a>
            <span class="info-box-sm-description"><small>Get RM Session Import details</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-unlock-alt"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>RM Active Sessions </strong></span></a>
            <span class="info-box-sm-description"><small>Get RM active session details</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->
      
                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Employee Referral  </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-trophy"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Productivity</strong></span></a>
            <span class="info-box-sm-description"><small>Get referral productivity analytics</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-align-left"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Activity Log</strong></span></a>
            <span class="info-box-sm-description"><small>Get referral activity log details</small></span>
          </div>
        </div>
      </div>

      <!-- Report Section ends -->

                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Efficiency metrics </label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-file-text-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Applicants Per Opening</strong></span></a>
            <span class="info-box-sm-description"><small>Get applicants per opening detail analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-file-text-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Applicants Per Hire</strong></span></a>
            <span class="info-box-sm-description"><small>Get comparison between count of screened application with  hired candidate.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-clock-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Time To Fill</strong></span></a>
            <span class="info-box-sm-description"><small>Get days between publishing a job opening and joining of the candidate.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-clock-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Time To Hire</strong></span></a>
            <span class="info-box-sm-description"><small>Get days between source / apply date and the offer acceptance of the candidate.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-clock-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Acceptance Rate</strong></span></a>
            <span class="info-box-sm-description"><small>Get comparison between count of job offers generated with  accepted.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-clock-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Cost per hire</strong></span></a>
            <span class="info-box-sm-description"><small>Get the average expense incurred on filling a vacancy from sourcing to on-boarding</small></span>
          </div>
        </div>
      </div>


      <!-- Report Section ends -->
      
                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Database </label>
        </div>
      </div>
      
                  
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa   fa-file-text-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Jobseeker Profiles </strong></span></a>
            <span class="info-box-sm-description"><small>Get complete Jobseeker Profiles database analytics.</small></span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-file-word-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Profile Views</strong></span></a>
            <span class="info-box-sm-description"><small>Get Profiles view analytics.</small></span>
          </div>
        </div>
      </div>
      
                  
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-building-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Current Clients </strong></span></a>
            <span class="info-box-sm-description"><small>Get current client analytics.</small></span>
          </div>
        </div>
      </div>
      
                  
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-building"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Prospective Clients </strong></span></a>
            <span class="info-box-sm-description"><small>Get Prospective client analytics.</small></span>
          </div>
        </div>
      </div>
      <!-- Report Section ends -->
      
                  
      <!-- New Report Section -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group underline-broad">
          <label>About Account Department</label>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-pencil-square-o"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text">
              <strong>Proforma Invoices</strong>
             
            </span></a>
            <span class="info-box-sm-description"><small>Get proforma invoice detail analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa fa-money"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text">
              <strong>Tax Invoices</strong>
             
            </span></a>
            <span class="info-box-sm-description"><small>Get tax invoice detail analytics.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa  fa-reply-all fa-flip-horizontal"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>Payable Taxes </strong></span></a>
            <span class="info-box-sm-description"><small>Get payable taxes report.</small></span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="info-box-sm">
          <span class="info-box-sm-icon bg-gray"><i class="fa    fa-rupee"></i></span>
          <div class="info-box-sm-content">
            <a href="#"  >
            <span class="info-box-sm-text"><strong>TDS Deduction</strong></span></a>
            <span class="info-box-sm-description"><small>Get TDS deduction report.</small></span>
          </div>
        </div>
      </div>
      <!-- Report Section ends -->
      
                  
      
    </div><!-- /.row -->
   
  </section><!-- /.content -->
